.closedSquare,
.openedSquare {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}
.closedSquare {
  background: lightgray;
}

.openedSquare {
  background: transparent;
  pointer-events: none;
}
p {
  margin: 0;
  font-size: 12px;
}
