<div [ngClass]="getClassName()">
  <app-square
    *ngFor="let square of squareArray let i = index"
    [hasItem]="square.hasItem"
    (click)="onClickTryGuess()"
    (foundBomb)="onFoundBomb()"
  ></app-square>
</div>
<app-tries [tries]="numberOfTries"></app-tries>
<app-buttons (resetSquares)="onClickReset()"></app-buttons>
